<mat-card class="cardContainer">

    <form class="form-container" [formGroup]="form">


        <div class="row">
            <mat-form-field>
                <input #firstname matInput type="text" name="firstname" matInput placeholder="First Name ..."
                    formControlName="firstname" required>
                    <div *ngIf="form.controls['firstname'].errors && !form.controls['firstname'].pristine" class="error-block">
                            <div [hidden]="!form.controls['firstname'].errors.required">Firstname is required.</div>
                    </div>
            </mat-form-field>
            
            <mat-form-field>
                <input #lastname matInput type="text" name="lastname" matInput placeholder="Last Name ..."
                    formControlName="lastname" required>
                    <div *ngIf="form.controls['lastname'].errors && !form.controls['lastname'].pristine" class="error-block">
                            <div [hidden]="!form.controls['lastname'].errors.required">Lastname is required.</div>
                    </div>
            </mat-form-field>
            
        </div>

        <div class="row">
            <mat-form-field>
                <input #address matInput type="text" name="address" matInput placeholder="Address ..."
                    formControlName="address" required>
                    <div *ngIf="form.controls['address'].errors && !form.controls['address'].pristine" class="error-block">
                            <div [hidden]="!form.controls['address'].errors.required">Address is required.</div>
                            <div [hidden]="!form.controls['address'].errors.pattern"> Address is not valid.</div>
                    </div>
            </mat-form-field>
            

            <mat-form-field>
                <input #email matInput type="email" name="email" matInput placeholder="Email ..."
                    formControlName="email" required>
                    <div *ngIf="form.controls['email'].errors && !form.controls['email'].pristine" class="error-block">
                            <div [hidden]="!form.controls['email'].errors.required">Email is required.</div>
                            <div [hidden]="!form.controls['email'].errors.pattern"> Email is not valid.</div>
                    </div>
            </mat-form-field>
            
        </div>

        <div class="row">

            <mat-form-field>
                <input #phone matInput type="text" name="phone" matInput placeholder="Phone ..." formControlName="phone"
                    required>
                    <div *ngIf="form.controls['phone'].errors && !form.controls['phone'].pristine" class="error-block">
                            <div [hidden]="!form.controls['phone'].errors.required">Phone is required.</div>
                            <div [hidden]="form.controls['phone'].errors && form.controls['phone'].errors.required">Phone's length is 10.</div>
   

            
                    </div>
            </mat-form-field>
        </div>

    </form>

    <div class="text-center">
            <button mat-raised-button color="primary"  [disabled]="form.invalid"  (click)="submitForm($event)" >
                    Submit
                </button>
    </div>
      
    


</mat-card>